.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero-text {
  min-height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.hero-text h1 {
 
  font-size: 170px;
  color: var(--white);
  /* Larger size for parallax quote */
   font-family: "Italianno", cursive;
    font-weight: 400;
  font-style: normal;
  /* Match quote style */

  margin-bottom: 0;
  /* Remove margin if it's the only content */
  line-height: 1.5;
  /* Adjust line height */
  text-shadow: 5px 5px 5px #000000;
  position: static;
  transform: none;
}
