.hero-text {
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 20px;
  color: var(--white);
  padding-bottom: 0;
  bottom: 0;

}



.slide:nth-of-type(1) .hero-text {
  justify-content: flex-start;
}

.slide:nth-of-type(2) .hero-text {
  justify-content: center;
  text-align: center;
  left: 0;
  right: 0;
  padding-left: 0;
}

.hero-text h1 {
  font-size: 100px;
  color: var(--white);
  font-family: "Italianno", cursive;
  font-weight: 550;
  font-style: normal;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 10px;
  position: relative;
  z-index: 2;
text-shadow: 2px 2px  rgba(0, 0, 0, 0.8);
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  /* Add a slight border radius */
}

@media (max-width: 768px) {
  .slide:nth-of-type(1) .hero-text {
    justify-content: center;
    text-align: center;
  }

  .slide:nth-of-type(2) .hero-text {
    justify-content: center;
    text-align: center;

  }
  .hero-text {
  
  padding-bottom: 130px;


}

  .hero-text h1 {
    font-size: 60px;
    color: var(--white);
    font-family: "Italianno", cursive;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 10px;
    position: relative;
    z-index: 2;

    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    /* Add a slight border radius */
  }
}